@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DM_Sans/DMSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DM_Sans/DMSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DM_Sans/DMSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

.font-cursive {
    font-family: 'Courier New', Courier, monospace;
}

.font-bold {
    font-weight: 700;
}

.font-italic {
    font-style: italic;
}

.text-20px {
    font-size: 1.5rem;
}

.text-24px {
    font-size: 1.5em;
}

.text-10vh {
    font-size: 10vh;
}

.line-25px {
    line-height: 25px;
}

.font-dm-sans {
    font-family: "DM Sans";
}

/* https://github.com/itcenterkechqurun/20-lesson */